.embla {
 
    margin: auto;
    --slide-spacing: 0rem;
    --slide-size: 100%;
  }
  .embla__viewport {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
  }
  .embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
  }
  .embla__slide__img {
    border-radius: 1.8rem;
    display: block;

    width: 100%;
    object-fit: cover;
  }
  
  .embla__parallax {
   
   
    overflow: hidden;
  }
  .embla__parallax__layer {
    position: relative;
 
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .embla__parallax__img {
    max-width: none;
    flex: 0 0 calc(115% + (var(--slide-spacing) * 2));
    object-fit: cover;
  }
  